{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "@tensor-corp"
    ],
    "globals": {
        "$": true,
        "fallingAnimation": true,
        "_": true
    },
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "semi-spacing": 2,
        "comma-style": ["error", "last"]
    }
}
